
.hero {
    background-image: url('https://images.pexels.com/photos/6097775/pexels-photo-6097775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px; 
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Ajusta la opacidad aquí */
    z-index: 1;
}

.titulo {
    color: whitesmoke;
    font-size: 3.5em; 
    z-index: 2;
    position: relative;
    margin-bottom: 10px; 
    margin-top: 250px; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    width: 80px;  
    height: auto;
    position: absolute;
    z-index: 3;    
    top: 5px;  
    left: 5px; 
    border-radius: 50%;
}

.logo-nav {
    width: 80px !important;
    height: auto !important;
}


.eslogan {
    color:white;
    font-size: 1.6em; 
    font-weight: bold;
    z-index: 2; 
    position: relative;
}


section {
    padding: 40px 20px;
    text-align: center;
}

.mision h2, .vision h2 {
    color: #027373;
}


.mision-vision-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las secciones */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px; /* Espacio entre mision y vision */
    flex-wrap: nowrap; /* Evita que se envuelvan en pantallas grandes */
    margin-top: 40px;
}

.mision-contenedor, .vision-contenedor {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(57, 53, 53, 0.1); 
    border-radius: 10px; 
    padding: 20px;
    margin: 20px 0;
    width: 48%; /* Cada contenedor ocupa el 48% del ancho en pantallas grandes */
    height: 200px; /* Asegura que ambos contenedores tengan la misma altura */
}

.mision-contenedor img, .vision-contenedor img {
    width: 40%; 
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px; 
}

.texto-mision, .texto-vision {
    width: 55%; 
}


@media screen and (max-width: 768px) {
    .mision-contenedor, .vision-contenedor {
        flex-direction: column;
        text-align: center;
    }

    .mision-contenedor img, .vision-contenedor img {
        width: 80%; 
        margin: 0 0 20px 0; 
    }

    .texto-mision, .texto-vision {
        width: 100%; 
    }
}

.tittle-banner {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 15px; /* Tamaño de fuente del título (ajustalo según necesites) */
    color: #027373; /* Color del texto, puedes cambiarlo según tu diseño */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave en el texto */
    margin-top: 100px; /* Espacio hacia la parte superior de la página (ajústalo si es necesario) */
}


.banner {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    position: relative;
   }

   .banner-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.banner img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; /* Asegura que todas las imágenes tengan el mismo tamaño */
    margin: 0 10px; /* Espacio entre las imágenes */
    flex-shrink: 0; /* Evita que las imágenes cambien de tamaño */
    border-radius: 80px;
}

/* Animación continua */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}

.btn-login {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #027373;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #005f8b;
}

