/* Estilo para la sección hero */
.hero {
    background-image: url(../Imagenes/intel-emocional.jpeg);
    background-size: contain; /* Ajusta la imagen dentro del contenedor */
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 150px; /* Reduce la altura */
    width: 100%; /* Opcional: reduce el ancho */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    position: relative; /* Asegura el posicionamiento para elementos hijos */  
}

@media (max-width: 768px) {
    .hero {
        height: 120px; /* Más pequeño en pantallas pequeñas */
        width: 90%; /* Ajusta el ancho */
    }
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra con 50% de transparencia */
    z-index: 1; /* Ubica el overlay detrás del contenido */
}

.titulo {
    color: whitesmoke;
    font-size: 4.5em; 
    z-index: 2;
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}




.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px;
}

.service-card {
    background-color: #f0f0f0;
    border: 1px solid #F0F0F0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(243, 0, 0, 0.1);
    width: 20%;
    margin: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;

    color: #F0F0F0;
    position: relative;
}


.service-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d8c9c; 
    z-index: 1; 
    border-radius: 15px;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    color: #F0F0F0;
    font-size: 1.8em;
    margin-bottom: 15px;
    z-index: 2; 
    position: relative; 
}

.service-card p{
    z-index: 2; 
    position: relative; 
}

.logo-nav {
    width: 80px;  
    height: auto;
    position: absolute;
    z-index: 3;    
    top: 5px;  
    left: 5px; 
    border-radius: 50%;
}

.logo-nav {
    width: 80px !important;
    height: auto !important;
}


